$textColor: white;
$bgColor: black;

* {
  margin: 0;
  padding: 0;
}

.container * {
  display: flex;
}

body {
  color: $textColor;
  background: $textColor;
  font-family: monospace;
}

.canvas {
  cursor: pointer;
}
