@font-face {
  font-family: 'GTPressura-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('https://bitforbit.notquite.se/files/font/GTPressura-Bold/GTPressura-Bold.woff2')
      format('woff2'),
    url('https://bitforbit.notquite.se/files/font/GTPressura-Bold/GTPressura-Bold.woff')
      format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('https://bitforbit.notquite.se/files/font/space/SpaceGrotesk-Medium.woff2')
      format('woff2'),
    url('https://bitforbit.notquite.se/files/font/space/SpaceGrotesk-Medium.woff')
      format('woff');
}

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.body * {
  display: flex;
  padding: 0;
}

.container * {
  display: flex;
}

.canvas {
  cursor: pointer;
}

.logo {
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 2rem;
  left: 0.5rem;
  background-image: url(https://bitforbit.notquite.se/files/bitforbit-Logo.eps);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo img {
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
}

.form {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 5px;
  font-family: 'GTPressura-Bold';
  font-size: 2.5rem;
  color: #000000;
  line-height: normal;
}

input[type='text'] {
  background-color: #000000;
  color: #ffffff;
  border: solid;
  border-radius: 4px;
  border-color: #000000;
  border-width: 2px;
  font-family: 'GTPressura-Bold';
  font-size: 2rem;
  width: 10rem;
  margin: 0 0 0 10px;
  padding: 5px;
  outline: none;
}

input[value='GÅ'] {
  background-color: #ffac8c;
  font-family: GTPressura-Bold;
  font-size: 2rem;
  color: #000000;
  margin: 0 0 0 10px;
  padding: 5px;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none; /* blocks text selection */
  -ms-user-select: none;
  user-select: none; /* blocks text selection */
  outline: none;
}

input[value='GÅ']:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.buttoninfo {
  display: flex;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at bottom */
  right: 7.5rem;
  width: 20%;
  line-height: inherit;
  text-align: right;
  overflow: auto; /* Disable horizontal scroll */
  -webkit-user-select: none;
  -moz-user-select: -moz-none; /* blocks text selection */
  -ms-user-select: none;
  user-select: none; /* blocks text selection */
}

.text {
  align: right;
  font-family: 'SpaceGrotesk-Medium';
  //background-color: #ffac8c;
  //border: solid;
  //border-color: #000000;
  //border-width: 2px;
  //border-radius: 10px;
  //padding: 1rem;
  box-decoration-break: clone;
  font-size: 1.8rem;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: -moz-none; /* blocks text selection */
  -ms-user-select: none;
  user-select: none; /* blocks text selection */
}

.buttonwrapper {
  display: flex;
  flex-flow: column;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  align-items: center;
  align-content: center;
  z-index: 1; /* Stay on top */
  bottom: 1rem; /* Stay at the top */
  right: 1rem;
  text-align: right;
  overflow: auto; /* Disable horizontal scroll */
}

.button {
  display: flex;
  width: 2rem;
  height: 3rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: GTPressura-Bold;
  font-size: 1.5rem;
  border: 2px solid #000000;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffac8c;
  outline: none;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.button:active {
  top: 1px;
}
