$textColor: white;
$bgColor: black;

* {
  margin: 0;
  padding: 0;
}

.container * {
  display: flex;
}

body {
  color: $textColor;
  background: $textColor;
  font-family: monospace;
}

.canvas {
  cursor: pointer;
}

#reset {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
